{
  "extends": "airbnb-base",
  "rules": {
    "no-console": 0,
    "no-plusplus": 0,
    "no-param-reassign": 0,
    "class-methods-use-this": 0,
    "linebreak-style": [
        "error",
        "windows"
    ],
    "no-cond-assign": "off",
    "no-await-in-loop": "off",
    "no-restricted-syntax": "off",
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "arrow-parens": "off"
  }
}
